# Copyright 2025 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# SPDX-License-Identifier: Apache-2.0

name: Publish dotpromptz-handlebars Package to PyPI

on:
  workflow_dispatch:
#  pull_request:
#    branches: [ main ]


jobs:
  build_arm64:
    name: Build for arm64 arch
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python_version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
    steps:
      - uses: actions/checkout@v6

      - name: Set up QEMU for Multi-Arch support
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build container
        run: |
          cd python/handlebarrz
          docker build --platform linux/arm64 -t linux-arm64 -f dockerfile-arm64 .

      - name: Run container
        run: |
          docker run -v "$PWD/python/handlebarrz":/project linux-arm64:latest sh ./generate-arm-wheels.sh "${{ matrix.python_version }}"

      - name: Upload build packages
        uses: actions/upload-artifact@v6
        with:
          name: wheels-arm64-${{ matrix.python_version }}
          path: python/handlebarrz/target/wheels

  build_alpine:
    name: Build for alpine arm64 arch
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python_version:
          - "3.12"
    steps:
      - uses: actions/checkout@v6

      - name: Set up QEMU for Multi-Arch support
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build container
        run: |
          cd python/handlebarrz
          docker build --platform linux/arm64 -t linux-alpine -f dockerfile-alpine .

      - name: Run container
        run: |
          docker run -v "$PWD/python/handlebarrz":/project linux-alpine:latest sh ./generate-alpine-wheels.sh "${{ matrix.python_version }}"

      - name: Upload build packages
        uses: actions/upload-artifact@v6
        with:
          name: wheels-alpine-${{ matrix.python_version }}
          path: python/handlebarrz/target/wheels

  build_x86_64:
    name: Build for x86_64 arch
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python_version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"

    steps:
      - uses: actions/checkout@v6

      - name: Build container
        run: |
          cd python/handlebarrz
          docker build -t linux-x86-64 -f dockerfile-x86-64 .

      - name: Run container
        run: |
          docker run -v "$PWD/python/handlebarrz":/project linux-x86-64:latest sh ./generate-x86-64-wheels.sh "${{ matrix.python_version }}"

      - name: Upload build packages
        uses: actions/upload-artifact@v6
        with:
          name: wheels-x86-64-${{ matrix.python_version }}
          path: python/handlebarrz/target/wheels

#  build_windows_x86_64:
#    name: Build for Windows x86_64
#    runs-on: windows-latest
#    strategy:
#      matrix:
#        python_version:
#          - "3.10"
#          - "3.11"
#          - "3.12"
#          - "3.13"
#    steps:
#      - uses: actions/checkout@v6
#
#      - name: Set up Python
#        id: setup_py
#        uses: actions/setup-python@v6
#        with:
#          python-version: ${{ matrix.python_version }}
#
#      - name: Set up Rust
#        uses: dtolnay/rust-toolchain@stable
#        with:
#          toolchain: stable
#
#      - name: Install maturin
#        run: pip install maturin
#
#      - name: Build wheel
#        working-directory: ./python/handlebarrz
##        run: maturin build --release --strip -o dist
#        run: maturin build --release --strip -o dist -i ${{ steps.setup_py.outputs.python-path }}
#
#      - name: Upload build packages
#        uses: actions/upload-artifact@v6
#        with:
#          name: wheels-windows-x86_64-${{ matrix.python_version }}
#          path: python/handlebarrz/dist
#
#  build_macos_arm64:
#    name: Build for macOS ARM64
#    runs-on: macos-14  # Apple Silicon
#    strategy:
#      matrix:
#        python_version:
#          - "3.10"
#          - "3.11"
#          - "3.12"
#          - "3.13"
#    steps:
#      - uses: actions/checkout@v6
#
#      - name: Set up Node.js for Actions
#        uses: actions/setup-node@v6
#        with:
#          node-version: '20'
#
#      - name: Set up Python
#        uses: actions/setup-python@v6
#        with:
#          python-version: ${{ matrix.python_version }}
#
#      - name: Set up Rust
#        uses: dtolnay/rust-toolchain@stable
#        with:
#          toolchain: stable
#
#      - name: Install maturin
#        run: pip install maturin
#
#      - name: Clean Cargo Target Directory
#        run: rm -rf target/
#        working-directory: ./python/handlebarrz
#
#      - name: Build wheel
#        working-directory: ./python/handlebarrz
#        run: maturin build --release --strip -o dist
#
#      - name: Upload build packages
#        uses: actions/upload-artifact@v6
#        with:
#          name: wheels-macos-arm64-${{ matrix.python_version }}-${{ github.job }}
#          path: python/handlebarrz/dist
#
#  build_macos_x86_64:
#    name: Build for macOS x86_64
#    runs-on: macos-13
#    strategy:
#      matrix:
#        python_version:
#          - "3.10"
#          - "3.11"
#          - "3.12"
#          - "3.13"
#    steps:
#      - uses: actions/checkout@v6
#
#      - name: Set up Python
#        uses: actions/setup-python@v6
#        with:
#          python-version: ${{ matrix.python_version }}
#
#      - name: Set up Rust
#        uses: dtolnay/rust-toolchain@stable
#        with:
#          toolchain: stable
#
#      - name: Install maturin
#        run: pip install maturin
#
#      - name: Build wheel
#        working-directory: ./python/handlebarrz
#        run: maturin build --release --strip -o dist
#
#      - name: Upload build packages
#        uses: actions/upload-artifact@v6
#        with:
#          name: wheels-macos-x86_64-${{ matrix.python_version }}-${{ github.job }}
#          path: python/handlebarrz/dist

#  build_windows_arm64:
#    name: Build for Windows ARM64
#    runs-on: windows-latest
#    strategy:
#      matrix:
#        python_version:
#          - "3.12"
#    steps:
#      - uses: actions/checkout@v6
#
#      - name: Set up Python
#        id: setup_py
#        uses: actions/setup-python@v6
#        with:
#          python-version: ${{ matrix.python_version }}
#
#      - name: Set up Rust
#        uses: dtolnay/rust-toolchain@stable
#        with:
#          toolchain: stable
#          target: aarch64-pc-windows-msvc
#
#      - name: Install maturin
#        run: pip install maturin
#
#      - name: Build wheel
#        working-directory: ./python/handlebarrz
#        run: maturin build --release --strip -o dist --target aarch64-pc-windows-msvc -i ${{ steps.setup_py.outputs.python-path }} --features "pyo3/abi3-py${{ matrix.python_version }}"
##        run: maturin build --release --strip -o dist --target aarch64-pc-windows-msvc -i python
#
#      - name: Upload build packages
#        uses: actions/upload-artifact@v6
#        with:
#          name: wheels-windows-arm64-${{ matrix.python_version }}
#          path: python/handlebarrz/dist

  pypi_publish:
    name: Upload to PyPI by python version
    needs: [build_arm64,build_x86_64,build_alpine]
    runs-on: ubuntu-latest
    environment:
      name: pypi_github_publishing
    permissions:
      id-token: write
    steps:
      - name: Download wheels
        uses: actions/download-artifact@v7
        with:
          merge-multiple: true
          path: dist/

      - name: Delete unsupported wheels
        run: |
          FILES=$(find dist/ -type f -name "*linux_aarch64*")
          if [[ -n "$FILES" ]]; then
            echo "removing local wheel"
            rm -f $FILES
          fi

      - name: Publish distribution to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          verbose: true
          packages-dir: dist/

      - name: Sleep for pypi server to load
        run: sleep 180

  smoke_test_arm64:
    name: Test for arm64 arch
    needs: [pypi_publish]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python_version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
        linux_platform:
          - "debian"
          - "fedora"
    steps:
      - uses: actions/checkout@v6

      - name: Set up QEMU for Multi-Arch support
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build container
        run: |
          cd python/handlebarrz/smoke_tests
          docker build --platform linux/arm64 \
          -t test-${{ matrix.linux_platform }}-arm64 \
          -f Dockerfile-${{ matrix.linux_platform }}-arm64 .

      - name: Run container
        run: |
          docker run test-${{ matrix.linux_platform }}-arm64:latest sh ./execute-test.sh "${{ matrix.python_version }}"
    continue-on-error: true

  smoke_test_alpine:
    name: Test for alpine arm64 arch
    needs: [pypi_publish]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python_version:
          - "3.12"
    steps:
      - uses: actions/checkout@v6

      - name: Set up QEMU for Multi-Arch support
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build container
        run: |
          cd python/handlebarrz/smoke_tests
          docker build --platform linux/arm64 \
          -t test-alpine \
          -f Dockerfile-alpine .

      - name: Run container
        run: |
          docker run test-alpine:latest sh ./execute-test.sh "${{ matrix.python_version }}"
    continue-on-error: true

  smoke_test_x86_64:
    name: Test for x86_64 arch
    needs: [pypi_publish]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python_version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
        linux_platform:
          - "debian"
          - "fedora"
    steps:
      - uses: actions/checkout@v6

      - name: Build container
        run: |
          cd python/handlebarrz/smoke_tests
          docker build \
          -t test-${{ matrix.linux_platform }} \
          -f Dockerfile-${{ matrix.linux_platform }} .

      - name: Run container
        run: |
          docker run test-${{ matrix.linux_platform }}:latest sh ./execute-test.sh "${{ matrix.python_version }}"
    continue-on-error: true


#  smoke_test_macos_arm64:
#    name: Test for macOS ARM64
#    needs: [pypi_publish]
#    runs-on: macos-14
#    strategy:
#      matrix:
#        python_version:
#          - "3.10"
#          - "3.11"
#          - "3.12"
#          - "3.13"
#    steps:
#      - uses: actions/checkout@v6
#
#      - name: Set up Python
#        uses: actions/setup-python@v6
#        with:
#          python-version: ${{ matrix.python_version }}
#
#      - name: Install package from PyPI
#        run: pip install dotpromptz-handlebars
#
#      - name: Run smoke test
#        working-directory: ./python/handlebarrz/smoke_tests
#        run: python -c "import handlebarrz; print('Import successful')"
#
#  smoke_test_macos_x86_64:
#    name: Test for macOS x86_64
#    needs: [ pypi_publish ]
#    runs-on: macos-13
#    strategy:
#      matrix:
#        python_version:
#          - "3.10"
#          - "3.11"
#          - "3.12"
#          - "3.13"
#    steps:
#      - uses: actions/checkout@v6
#
#      - name: Set up Python
#        uses: actions/setup-python@v6
#        with:
#          python-version: ${{ matrix.python_version }}
#
#      - name: Install package from PyPI
#        run: pip install dotpromptz-handlebars
#
#      - name: Run smoke test
#        working-directory: ./python/handlebarrz/smoke_tests
#        run: python -c "import handlebarrz; print('Import successful')"
#    continue-on-error: true
#
#  smoke_test_windows_x86_64:
#    name: Test for Windows x86_64
#    needs: [pypi_publish]
#    runs-on: windows-latest
#    strategy:
#      matrix:
#        python_version:
#          - "3.10"
#          - "3.11"
#          - "3.12"
#          - "3.13"
#    steps:
#      - uses: actions/checkout@v6
#
#      - name: Set up Python
#        uses: actions/setup-python@v6
#        with:
#          python-version: ${{ matrix.python_version }}
#
#      - name: Install package from PyPI
#        run: pip install dotpromptz-handlebars
#
#      - name: Run smoke test
#        working-directory: ./python/handlebarrz/smoke_tests
#        run: python -c "import handlebarrz; print('Import successful')"
#    continue-on-error: true
##
#  smoke_test_windows_arm64:
#    name: Test for Windows ARM64
#    needs: [ pypi_publish ]
#    runs-on: windows-latest
#    strategy:
#      matrix:
#        python_version:
#          - "3.12"
#    steps:
#      - uses: actions/checkout@v6
#
#      - name: Set up Python
#        uses: actions/setup-python@v6
#        with:
#          python-version: ${{ matrix.python_version }}
#
#      - name: Install package from PyPI
#        run: pip install dotpromptz-handlebars
#
#      - name: Run smoke test
#        working-directory: ./python/handlebarrz/smoke_tests
#        run: python -c "import handlebarrz; print('Import successful')"
#    continue-on-error: true
